!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura</title>
    <link rel="stylesheet" href="./../css/estilos0.css">
    <img class="img" src="./../assets/images/galeria/logove.png" alt="imagen1">
    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

             
         <nav class="menu">
          <img id="im" class="img" src="./../assets/images/galeria/logove.png" alt="imagen1">
        
          <!-- en los enlaces ponemos activo para que crear estilo para que se quede marcada la pag donde estas -->
          <div class="lista-content">
            <ul class="lista">
              <li><a href="./../index.html">Inicio</a></li>
              <li><a href="./../views/productos.html">Galeria</a></li>
              <li><a href="./../views/presupuestos.html">Presupuestos</a></li>
              <li><a href="./../views/contacto.html">Contacto</a></li>

            </ul>
          </div>
        </nav>

        <div class="images-header">
          <div class="bienvenido">
            <h2>Bienvenidos a nuestro mundo</h2>
            <p>Diseño web y movil - Big data - Impresion 3D - Redes - Python </p>
            
          <div class="bisel-abajo"></div>
        </div>
        </div>
           
      </header>
    
     

     
<!-- IMAGENES NOSOTROS -->
<section class="nosotros" id="quiensomos"> 

  <div class= "n-container">
    <h2>Aviso legal</h2>
    <p class="one">Nombre o denominación social: VERSATIL SL.
        Domicilio social: C. del Pintor Sorolla, 21, 46002 València
        Teléfono: 966 76 86 80
        Datos registrales: Registro Mercantil de Valencia, Tomo 9341, Libro de sociedades,   Folio 148 Hoja V147223. 
        N.I.F.: B00000000
        E-mail: Página de contacto
        
        Legislación Aplicable 
        
        El presente Aviso Legal se rige en todos y cada uno de sus extremos por la ley española, renunciando expresamente las partes al 
        fuero que les corresponda, y sometiéndose a los Juzgados de Valencia. 
        
        Propiedad Intelectual e Industrial 
        
        Todos los contenidos de la presente página web, incluyendo sin carácter limitativo, textos, gráficos, imágenes, su diseño y los
         derechos de propiedad intelectual que pudieran corresponder a dichos contenidos, así como todas las marcas, nombres comerciales
          o cualquier otro signo distintivo son propiedad de esta entidad, quedando reservados todos los derechos sobre los mismos. 
        
          Queda prohibido cualquier acto de reproducción de los contenidos, en todo o en parte, en cualquier forma o medio, sea mecánico,
         electrónico, reprográfico u otro, así como cualquier acto de difusión, comunicación pública o distribución, sin la previa autorización
         por escrito de esta entidad.
        
        Esta entidad no será responsable de los daños o perjuicios que pudieran derivarse de la utilización de los contenidos por parte de
         los usuarios o de la infracción por parte de éstos de cualquier disposición legal vigente.
        
        Enlaces
        
        Esta entidad no asume ninguna responsabilidad sobre los enlaces externos que, en su caso, pudieran incluirse en el portal, ya que no 
        tiene ningún tipo de control sobre los mismos, por lo que el usuario accede bajo su exclusiva responsabilidad al contenido y en las
         condiciones de uso que rijan en los mismos. 
        
        Redes Sociales
        
        La información que recabamos por medio de las redes sociales a veces incluye información personal que se encuentra disponible online y
         para el público.
        
        Siempre nos aseguramos de que toda la información que utilizamos se encuentra atribuida a su fuente de forma correcta o se hace anónima.

        
        Es probable que estas redes sociales tengan sus propias políticas de privacidad, mediante las cuales le explicarán como utilizan y 
        comparten su información personal. Le recomendamos revisar detenidamente las políticas de privacidad antes de utilizar estas redes 
        sociales para estar seguro de que está conforme con la forma en la que su información personal se recopila y comparte.
        
        Esta entidad podrá modificar o eliminar en cualquier momento y sin aviso previo los mensajes emitidos en el canal.
        
        Esta entidad puede seguir a otros perfiles de la red social, sin que este hecho implique vinculación de ningún tipo con ellos.
        
        El uso de las redes sociales por parte de esta entidad como canal informativo no implica la aprobación de la Política de Privacidad 
        del mismo.
        
        Esta entidad no comunica ni comparte información personal de los usuarios que accedan a estos medios, adoptando todas las medidas de
         seguridad adecuadas que proporciona la red social.
        Diseño Web Valencia
        Diseño de páginas web corporativas
        Diseño de tiendas online
        Portal de Clasificados
        Red Social
        Intranet
        Desarrollo CRM a medida
        Desarollo de software ERP
        Nuestros diseños de landing page
        Otros Servicios
    </p>
   

<!-- footer -->
    
<footer class="footer" id="contacto">
    <div class="degr-formu"></div>
    <div class="ejez">
    <div class="f-container">
      <nav class="mia">
        <a title="Twitter" href="http://www.twitter.com"><img class="fakeimg1" src="./../assets/images/galeria/icontwitter.jpg" alt="imagen1"></a>
        <a title="Facebook" href="http://www.facebook.com"><img class="fakeimg3" src="./../assets/images/galeria/face.jpg" alt="imagen1"></a>
        <a title="Instagram" href="http://www.instagram.com"><img class="fakeimg2" src="./../assets/images/galeria/insta.jpg" alt="imagen1"></a>
      </nav>  
      <nav class="mio">
        <h5><a href="contacto1.html">Donde estamos</a></h5>
        <h6><a href="./aviso.html">Aviso legal</a></h6>
      </nav>
      <div class="containerd">
     <div class="footer-text">
        <p>&copy; MasterD - 2023 / Todos los derechos reservados</p>
      </div>
    </div>
  </div>
  </div>
  
  
  </footer> 
  </body>
  </html>