<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura</title>
    <link rel="stylesheet" href="./../css/estilos0.css">
    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>

  <header>
    <!-- icon img cabecera -->
    
  <nav class="menu">
    <img class="img" src="./../assets/images/galeria/logove.png" alt="imagen1">
 
    <!-- en los enlaces ponemos activo para que crear estilo para que se quede marcada la pag donde estas  -->
   <div class="lista-content">
     <ul class="lista">
      <li><a href="./../index.html">Inicio</a></li>
      <li><a href="./../views/productos.html">Galeria</a></li>
       <li><a href="./../views/presupuestos.html">Presupuestos</a></li>
       <li><a href="#" class="activo">Contacto</a></li>

     </ul>
   </div>
 </nav>
 <div class="images-header">
   <div class="bienvenido">
     <h2>Bienvenidos a nuestro mundo</h2>
     <p>Diseño web y movil - Big data - Impresion 3D - Redes - Python </p>
     
   <div class="bisel-abajo"></div>
 </div>
 </div>
 <section class="Inicio">

 </section>
 <section class="Productos">

 </section>
 <section class="presupuestos">

 </section>
 <section class="Contacto">
   </section>
</header> 

<div class="container">
  <div id="map"></div>
   <div id="indicaciones"></div> 
</div>
<script src="./../js/contacto1.js"></script>
<script async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7l8RMb-tJ_mRc2Vm49tBCrqXIkrqPW_Q&libraries=places&callback=initMap">
</script>



<!-- footer -->
<footer class="footer" id="contacto">
  <div class="degr-formu"></div>
  <div class="ejez">
  <div class="f-container">
    <nav class="mia">
      <a title="Twitter" href="http://www.twitter.com"><img class="fakeimg1" src="./../assets/images/galeria/icontwitter.jpg" alt="imagen1"></a>
      <a title="Facebook" href="http://www.facebook.com"><img class="fakeimg3" src="./../assets/images/galeria/face.jpg" alt="imagen1"></a>
      <a title="Instagram" href="http://www.instagram.com"><img class="fakeimg2" src="./../assets/images/galeria/insta.jpg" alt="imagen1"></a>
    </nav>  
    <nav class="mio">
      <h6><a href="./../views/aviso.html">Aviso legal</a></h6>
    </nav>
    <div class="containerd">
   <div class="footer-text">
      <p>&copy; MasterD - 2023 / Todos los derechos reservados</p>
    </div>
  </div>
</div>
</div>


</footer> 
</body>
</html>
    

       
      