:root{
  /* equivalente a etiqueta html*/
  --colorCorp:#143c54;
  --black:#252a34;
  --bluelight:#15a4bc;
  --white:#eaeaea;
  --title:35px;
  --text:19px;
} 
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }
  .caja0{
    background-color:rgba(0,0,0,0.6);
    margin-bottom: 20px;
    padding: 20px 0px 0px 0px;
    width: auto;
    height: 50px;
  }
  .caja1{
    margin: 0 auto;
    padding: 60px;
    width: 700px;
    font-family: arial;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 0px solid #000000;
    color: #a6a6a7;
    background-color:rgba(0,0,0,0.6);
    position: absolute;
    left: 220px;
    top: 330px;
}
  
   /* NOMBRE */
 .one{
  position:absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  top:165px;
  left:-95px;
 }
 .box {
  width: 10em;
  height: 5rem;
  padding: 1em;
  margin: 2rem;
  border: 0.2em solid black;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
 /* APELLIDOS */
 .two{
  position:absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  top:213px;
  left:-115px;
 }
 /* EDAD */
 .three{ 
  position:absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  top:263px;
  left:-62px;
 }
 /* DIRECCION */
 .four{
  position:absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  top:314px;
  left:-115px;
 }
 /* TELEFONO */
 .five{
  position:absolute;
  top:364px;
  left:-108px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;

 }
  /* MAIL */
 .six{
  position:absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  top:415px;
  left:-58px;
 }
 .registro1 h2{
  position:absolute;
  top:100px;

 }
 .caja1 h3{
  position:absolute;
  top:0px;
  right: -480px;
  width: 300px;
 }
  
  .textbox{
    position:relative;
    margin-top:20px;
    left:150px;
    top:-30px;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    border: 0px solid #c0c5ce;
    background-color:rgba(0,0,0,0.2);
    height: 28px;
    color: #a4a6aa;
  }
  input{
    padding-left: 20px;
  }
  input[type=text]:focus{
    box-shadow: 0 0 3px 1px rgba(81, 203, 238, 0.6);
  }
  .botones{
    margin: 0 auto;
    width: 260px;
  }
  .boton{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration: none;
    display:inline-block;
    color: #FFF;
    background: #7F8C8D;
    padding: 6px 30px;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 10px 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .gris{
    background: #343d46;
    border: 0px solid #c0c5ce;
  }
  
  .gris:hover{
    background: #00aac9;
  }
  h2,h3{
    text-align: center;
    color: #fff;
  }
  
  body{
      font-family:'Red Hat Text',sans-serif;
      background-color:#fff;
      /* eliminar scroll abajo horizontal */
      overflow-x: hidden;
    }
    #inicio{
      position:relative;
      width:100%;
    }
    /* Estilos base */
.contenedor {
  width: 100%;
  max-width: 1200px; /* Por ejemplo, para limitar el ancho máximo */
  margin: 0 auto; /* Centra el contenido */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .contenedor {
      max-width: 100%; /* Para que el contenedor ocupe todo el ancho en pantallas pequeñas */
      padding: 0 20px; /* Añade un poco de espacio en los bordes */
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Aquí puedes aplicar estilos específicos para pantallas medianas */
}
  /************************** head *******************************/
  
       
    
     
      /* .images-header .bienvenido{ */
          /* posicion y tamaño */
          /* position:absolute; */
          /* top:0; */
          /* left:0; */
          /* width: 100%; */
          /* 100% altura pero del padre */
          /* height:100%; */
          /* color semi transparente oscurece la foto*/
          /* background:rgba(0,0,0,0.6); */
          /* para recolocar las cosas dentro */
          /* display:flex; */
          /* justificar contenido al centro */
          /* justify-content: center; */
          /* alinear al centro */
          /* align-items: center; */
          /* alinear vertical */
          /* flex-direction: column; */
        /* } */
        .images-header .bienvenido h2{
          font-size: 50px;
         color:#fff;
         font-weight:200;
        }
        .images-header .bienvenido p{
         font-size: 20px;
         color:#fff;
         margin-top:20px;
        }
        .images-header .bienvenido > button{
          width: 170px;
          height:40px;
          /* color boton transparente */
          background-color: var(--white);
          border-radius:24px;
          color:#fff;
          border:none;
          margin-top:20px;
          /* cambiamos cursor de raton mano*/
            cursor:pointer;
            /* quitamos linea blanca que sale alrededor del raton */
            outline:none;
            /* para que cuando pinchemos se vea un pequeño efecto */
            transition: 0.5s;
        /* PARA QUE SEA COMPATIBLE CON TODOS LOS NAVEGADORES */
            text-align:center;
            font-size:22px;
          }
          /****************************************************Index*****************************************/
          #inicio{
            position:relative;
            width:100%;
          }
          .menu {
            position: fixed;
            width: 100%;
            height: 50px;
            top: 0px;
            left: 0;
            background-color: rgba(7, 52, 121, 0.6);
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9999;
        }
        .menu.logo h1 a {
          text-decoration: none;
          font-size: var(--font-size); /* Usar la variable para el tamaño de la fuente */
          font-weight: 400;
          color: var(--white);         /* Usar la variable para el color */
        }
          .menu .lista-content{
            margin-right: 20px;
          }
          /* aplicamos colores y espacios a enlaces */
          .menu .lista-content ul{
          /* se pone en horizontal */
          display:flex;
          }
          .menu .lista-content ul li{
            /* quitamos pelota enlace */
            list-style: none;
          
          }
          .menu .lista-content ul li a{
            text-decoration:rgb(245, 230, 230); 
            font-family: cursive;
            margin: 0px 120px;
            /* agrandar enlace */
            padding: 15px;
            /* cambiamos el color */
            color:var(--white);
            font-size: 16px;
            border-radius: 24px;
            transition: 0.3s;
            text-align: center;
          
          }
          /* .menu .lista-content ul li a:hover{ */
          /* para que cuando pasemos el raton por encima cambie de color */
          /* background-color:var(--white);
          color:#020202;
          } */
          /* para que se quede seleccionada la pag de donde te encuentras */

          
            /* .menu{
            position:relative;
            top:0;
            left:0;
            width:100%;
            height:100px;
            background-color:#fff; */
            /* como queremos que se coloquen las cajas */
            /* display:flex;
            justify-content: space-between;
            align-items: center;
            background-attachment: fixed; */
            /* que se nos quede centrada */
        
            /* que no se oculte el menu por insertar imagen */
           /* z-index: 9999;  */
          /* } */
          /* logo informatica y telecomunicaciones */
          .menu .logo{
            /* espacio izquierda a derecha */
            margin-left: 20px;
          }
          .menu .lista-content{
            margin-right: 20px;
          }
          /* aplicamos colores y espacios a enlaces */
          .menu .lista-content ul{
          /* se pone en horizontal */
          display:flex;
          }
          .menu .lista-content ul li{
            /* quitamos pelota enlace */
            list-style: none;
          }
          .menu .lista-content ul li a{
           text-decoration:none; 
           margin: 0px 10px;
           /* agrandar enlace */
           padding: 8px;
           /* cambiamos el color */
           color:var(--white);
           font-size: 16px;
           border-radius: 24px;
           transition: 0.3s;
           
          }
          .menu .lista-content ul li a:hover{
          /* para que cuando pasemos el raton por encima cambie de color */
           background-color:var(--colorCorp); 
          color:#fff;
          }
          /* para que se quede seleccionada la pag de donde te encuentras */
          .menu .lista-content ul li a.activo{
            background-color:var(--colorCorp);
            color:#fff;  
          }
        
          /*******************************************************Noticias *************************************************************************/
          main{
              position: absolute;
              margin-bottom: 20px;
              margin-left: 30px;
            }   
       
            
           
             .img1{
              position:absolute;
              top:80px;
              width: 600px;
              left:300px;
              height: 200px;
          
             }
             .img2{
              position:absolute;
              width: 600px;
              left:300px;
              bottom:790px;
              height: 200px;
             }

             .img3{
              position:absolute;
              width: 600px;
              left: 300px;
              top:870px;
              height: 200px;
           
             }
              .img4{
              position:absolute;
              left: 330px;
              width: 600px;
              top:1270px;
              height: 200px;
             }
             .img5{
              position:absolute;
              left: 330px;
              width: 600px;
              top:1630px;
              height: 200px;
             }
                           
             .texto1{
              position: relative;
              margin-top: 280px;
              width: 80%;
              left: 10px;
              top: -100px;

             }
             .texto_2{
              position: relative;
              margin-top: 280px;
              width: 80%;
              left: 10px;
              top: -355px;

             }
             .texto2{
              position: relative;
              width: 80%;
              left: 110px;
              top: 271px;
             }
             .text_final{
              position:absolute;
              left:550px;
              color: #FFF;
              font-family: arial-black;
              font-size:20px;
             }
             .autor{
              position: relative;
              width: 80%;
              left: 10px;
              top: -351px;
             }
             .texto3{
              position: relative;
              margin-top: 180px;
              width: 80%;
              left: 130px;
              top: 350px;


             }
             .texto4{
              position: relative;
              margin-top: 180px;
              width: 80%;
              left: 130px;
              top: 420px;
             }
            
            .texto5{
              position: relative;
              margin-top: 180px;
              width: 80%;
              left: 130px;
              top: 500px;

            }


            .imagen-posicionada {
              width: 100%;
              max-width: 500px;
              height: auto;
              display: block;
              margin: 0 auto;
              margin-top: 150px;
          }
          











            .noticias{
             position:absolute;
             top:50px;
             left:0px;
            }
            
          
 
           
             section h1{
              top:50px;
              margin-left: 290px;
              position: absolute;
              font-size: 1.5rem;
              color:var(--black);
             }
            
             section h2{
              left: 310px;
              position: absolute;
              top:430px;
              font-size: 1.5rem;
              /* grosor */
              color:var(--black);
             }
                  
              .Login h2{/**dental**/
              left: 400px;
              position: absolute;
              top:1100px;
              font-size: 1.5rem;
              /* grosor */
              color:var(--black);
             }
             

            
             section h3{
              margin-left: 450px;
              position: absolute;
              top:840px;
              font-size: 1.5rem;
              /* grosor */
              color:var(--black);
            
            }
             section h4{
              margin-left: 370px;
              position: absolute;
              top:1240px;
              font-size: 1.5rem;
              /* grosor */
              color:var(--black);
             }
             section h5{
              margin-left: 230px;
              position: absolute;
              top:1600px;
              font-size: 1.5rem;
              /* grosor */
              color:var(--black);
             }
             section .n-container1 h2{
              left: 290px;
              position: absolute;
              top:-100px;
              font-size: 1.5rem;
              /* grosor */
              color:var(--black);
             }
             /**************************Registro*******************************************/
             .Registro h2{
              position: absolute;
              top:360px;
              left: 450px;
              /* grosor */
              color:var(--black);
             }
             .Registro p{
              position: absolute;
              top:-120px;
              left: -45px;
             }
                            /**************************Registro  -  Login*******************************************/
             .Login .n-container1 h2{
              position: absolute;
              top:25px;
              left: 270px;
              /* grosor */
              color:var(--black);
             }
             .Login .n-container1 {
              position: relative;
              top: 80px;
              width: 80%;
              margin: auto;
              display: flex;
              justify-content: center;
              flex-direction: column;
          }
          
          
   
              
             .n-container2 li a{
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              color:var(--bluelight); 
              font: 1em sans-serif;
              position: absolute;
              left: 90px;
              top:-315px;


             }
             
              .Login p{
              position: absolute;
              top:1150px;
              left: 160px;
              width: 80%;


             }         
             ::marker{
              content: '';
              list-style-type: none;
              padding-left: 0;

             }
             .inicio  h2{
              left: 340px;
              margin-bottom: 30px;
              margin-top: 40px;

              position: absolute;
              top:-55px;
              font-size: 1.5rem;
              /* grosor */
             }
             .section h2{
              left: 310px;
              position: absolute;
              top:430px;
              font-size: 1.5rem;
              /* grosor */
              color:var(--black);
             }
                            
             .n-container h2{
              left: 350px;
              position: absolute;
             margin-top:-320px;
              font-size: 1.5rem;
              /* grosor */
              color:var(--black);
             }

  
          .n-container1 {
            position: absolute;
            color: var(--black);
            width: 80%;
            bottom: -1650px;
            left: 160px;
            color:var(--black);

        }

              /* grosor */
                            /* .Noticias .n-container p{
              left: 290px;
              position: absolute;
              margin-top:-500px;
              font-size: 1.5rem;
              /* grosor */
              /* color:var(--black);
             }  */
             .n-container2{
              left: 370px;
              position: absolute;
              margin-top:-500px;
              /* grosor */
              color:var(--black); 
            }
             .video-container {
              top: 30px;
              position: relative;
              width: 100%;
              left:10px;
              max-width: 1300px;
              height: 0;
              padding-top: 27.25%; /* Esto mantiene la relación de aspecto 16:9 (9 / 16 * 100) */
              overflow: hidden; 
            /* 
             position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 999; */
              
            
            }
            .video-container1 {

              top: 50px;
              position: relative;
              margin-bottom:-225px;         
              width: 100%;
              left:0px;
              max-width: 1300px;
              height: 100px;
              padding-top: 28.25%; /* Esto mantiene la relación de aspecto 16:9 (9 / 16 * 100) */
              overflow: hidden; 
            }
            /* .video-container1 video {
              width: 100%;
              height: 100%;
            } */
            
            video {
               position: absolute;
              top: 50px;
              left: 0;
              width: 100%;
              height: 50%;
              object-fit: cover; 
            }
            .video-container video {
              width: 100%;
              height: auto;
            }
            
            .play-button {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 1;
              cursor: pointer;
            }
            /*************************************************Registro - noticias*************************************************************/
            .registro1{
              position: relative;
              top: 300px;
              margin-left:250px ;
              margin-top:10px;
              width: 20PX;
              height: 200PX;
              font-family: Arial-black;
              font-size: 25px;
              font-style: normal;
            
            }
            .Registro p {
              position: absolute;
              top: -290px;
              left: -45px;
          }
            .Registro .n-container2 {
              position: relative;
              top: 80px;
              width: 80%;
              margin: auto;
              display: flex;
              justify-content: center;
              flex-direction: column;
          }
          .n-container p{
            position: absolute;
            margin-top: 180px;
          }
          
            .n-container ul li a{
              position: absolute;
            right: 700px;
            top:52px;
            }
            registro{
              position:relative;
              margin-right: 350px;
            }
            .n-container{
              position:relative;
              width: 80%;
              top: 650px;
              left: 131px;
              width: 80%;
              display: flex;
              justify-content: center;
              flex-direction: column;
            }
           
            html, body {
              margin: 0;
              padding: 0;
              height: 100%;
            }
            
            .main-container {
              min-height: 100vh; /* Asegura que el contenedor principal ocupe toda la altura del viewport */
              box-sizing: border-box; /* Incluye padding y border en la altura total */
              padding: 20px; /* Ajusta según tus necesidades */
            }
            /*************************************************Login*************************************************************/
.formu{
position:absolute;
top:200px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.2em;
border-radius: 1.2em;

}
.inicio1{
position:absolute;
top:150px;
left: 330px;
width: 170px;
}
.titulo{
position: absolute;
font-family: Georgia, 'Times New Roman', Times, serif;
top:-350px;
width:1000px;
}

      /******************************footer********************************************/
      .footer{
        
          display: flex;
          width: 100%;
          top:1200px;
          /* background-image: url(../assets/images/galeria/nosotros.jpg); */
          background-attachment: fixed;
          background-position: center; 
          background-size: cover;
         }
        
         /* capa tranparente */
         .footer .degr-formu{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                background-color: rgba(0,0,0,0.6);
         }
         .footer .ejez{
              position: relative;
              width:100%;
              height:100%;
        }
        
        .footer .f-container{
              position:absolute;
              width:100%;
              margin:0;
              padding-bottom: 10px;
              
        }
        .footer .ejez .f-container .f-title{
              width: 50%;
              margin: auto;
              border: 2px solid #fff;
              padding: 15px;
        }
        .footer .ejez .f-container .f-title h2{
              font-size: 2rem;
              color: #fff;
              text-align: center;
              margin-bottom: 5px;
        }
        .footer .ejez .f-container .f-title hr{
              height:2px;
              background-color :#fff;
              width: 80%;
              margin: auto;
        }
        .footer .ejez .f-container .formulario{
              width: 80%;
              margin: 50px auto;
              background-color:#fff;
              border-radius: 50px;
              border: 1.5px solid var(--colorCorp);
              padding: 30px;
        }
        .footer .ejez .f-container .formulario #formulario{
              display: flex;
              flex-direction: column;
              justify-content: center;
        }
        .footer .ejez .f-container .formulario #formulario label{
              font-size: 20px;
              text-align: center;
              color: var(--black);
              margin: 30px 0px 10px 0px;
        }
        .footer .ejez .f-container .formulario #formulario input{
              width: 90%;
              height: 40px;
              margin: auto;
              border-radius: 5px;
              border: 1.5px solid var(--colorCorp);
              text-align: center;
              font-size: 18px;
              color:var(--black);
        }
        .footer .ejez .f-container .formulario #formulario textarea{
              width: 90%;
              height: 200px;
              margin: auto;
              border-radius: 5px;
              border: 1.5px solid var(--colorCorp);
              text-align: center;
              font-size: 15px;
              color:var(--black); 
        }
        .footer .ejez .f-container .formulario #formulario .enviar{
          width:120px;
          height: 40px;
          margin: 15px auto;
          text-align: center;
          background-color: var(--colorCorp);
          font-size: 20px;
          color: #fff;
          border: none;
          border-radius: 20px;
          cursor: pointer;
        }
        .footer .ejez .f-container .formulario #formulario .enviar:hover{
          background-color: var(--bluelight);
          transition: 0.5s;
        }
        
        .footer .ejez .f-container .formulario #formulario p{
         font-size: 20px;
         color:var(--black); 
         line-height: 35px;
        }
        .footer .ejez .f-container .footer-text1 {
          position: absolute;
          bottom: -2250px;
          width: 100%;
          height: 70px;
          background-color: rgba(0, 0, 0, 0.8);
          border-top: 2px solid #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        } 
        .footer .ejez .f-container .footer-text {
          position: absolute;
          bottom: -1048px;
          width: 2000px;
          left:-100px;
          height: 70px;
          background-color: rgba(0, 0, 0, 0.8);
          border-top: 2px solid #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }     
        .footer .ejez .f-container .footer-text2 {
          position: absolute;
          bottom: -450px;
          left: -100px;
          width: 2000px;
          height: 70px;
          background-color: rgba(0, 0, 0, 0.8);
          border-top: 2px solid #fff;
          display: flex;
          align-items: center;


        } 
        .titulo1{
          position:absolute;
          bottom:200px;
        }
        .footer .ejez .f-container .footer-text3 {
          position: absolute;
          bottom: -750px;
          left: -100px;
          width: 2000px;
          height: 70px;
          background-color: rgba(0, 0, 0, 0.8);
          border-top: 2px solid #fff;
          display: flex;
          align-items: center;
        } 
.container{
  position:absolute;
  bottom:250px;
  left:100px;
  width:600px;


}


 .usuario{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
font-size: var(--black);
}

.password{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
font-size: var(--black);
}
        .footer .ejez .f-container .footer-text p{
          text-align:center;
          position: absolute;
          left:450px;
          color:#fff;
          font-size: 20px;
        }
       .containerd{
          position:absolute;
          top: 390px;
          width:100%;
          margin:0;
          padding-bottom: 100px;
          
    }
     .containerd .footer-text .mia .fakeimg1 {            position:absolute;
          top:0px;
          left: 15px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        .containerd .footer-text .mia .fakeimg2 {            position:absolute;
          top:0px;
          left: 57px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        
        .containerd .footer-text .mia .fakeimg3 {            position:absolute;
          top:0px;
          left: 100px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        .containerd .footer-text1 .mia .fakeimg1 {            position:absolute;
          top:0px;
          left: 15px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        .containerd .footer-text1 .mia .fakeimg2 {            position:absolute;
          top:0px;
          left: 57px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        
        .containerd .footer-text1 .mia .fakeimg3 {            position:absolute;
          top:0px;
          left: 100px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }

      

        .containerd .footer-text2 .mia .fakeimg1 {            position:absolute;
          top:0px;
          left: 145px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        .containerd .footer-text2 .mia .fakeimg2 {            position:absolute;
          top:0px;
          left: 190px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        
        .containerd .footer-text2 .mia .fakeimg3 {            position:absolute;
          top:0px;
          left: 100px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        .containerd .footer-text3 .mia .fakeimg1 {            position:absolute;
          top:0px;
          left: 0px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        .containerd .footer-text3 .mia .fakeimg2 {            position:absolute;
          top:0px;
          left: 100px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        
        .containerd .footer-text3 .mia .fakeimg3 {            position:absolute;
          top:0px;
          left: 50px;
          width:40px;
          height: 40px;
          border-radius: 10px;
          cursor: pointer;
          object-fit: cover;
        
        }
        
        .footer .mio h5 a{
          position: absolute;
          justify-content: center;
          font-size:15px;
          color: rgb(5, 0, 0);
          top: 25px;
          left:1212px;
        }
        .footer .mio h6 a{
          position: absolute;
          margin-left: 310px;
          justify-content: center;
          font-size:15px;
          color: rgb(7, 0, 0);
          top: 0px;
          left:925px;        }
        .footer .mio h6 a:hover{
          color: var(--bluelight);
        }
        .footer .mio h5 a:hover{
          color: var(--bluelight);
        }
      
