/***********************************************************************************************HTML***************************************************************************************************************************/


:root{
  /* equivalente a etiqueta html*/
  --colorCorp:#143c54;
  --black:#252a34;
  --bluelight:#15a4bc;
  --white:#eaeaea;
  --title:35px;
  --text:19px;
} 
*{
margin:0;
padding:0;
box-sizing: border-box;

}
html{
  scroll-behavior: smooth;   /* desplazamiento efecto lento hacia una parte de la pag  */
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
}
header{
  flex:20%;
}
main{
  flex:50%;
}
footer{
  flex:30%;


}
.galeria1{
  position:absolute;
  right:380px;

}
.noticias{
  margin-left:300px; 
  padding-bottom: 35;
 
}
#total{
  position:absolute;
  bottom:-450px;
  right:40px;
  height:40px;
}
#total1{
  position:absolute;
  bottom:-450px;
  right:200px;
}
body{
  font-family:'Red Hat Text',sans-serif;
  background-color:#fff;
  /* eliminar scroll abajo horizontal */
  overflow-x: hidden;
}
/* biseles */
.bisel-abajo{
  position:absolute;
  /* queremos poner abajo */
  bottom:0;
  left:0;
  /* efectos sesgado imagen*/
  border-width:0 0 10vh 100vw;
  /* arriba, derecha, abajo, izquierda h=altura v=anchura*/
  border-color: transparent transparent #fff transparent;
  border-style:solid;
}
.bisel-arriba{
  position:absolute;
  /* queremos poner abajo */
  top:0;
  left:0;
  /* efectos sesgado imagen*/
  /* border-width:0 0 100vw 10vh ; */
  /* arriba, derecha, abajo, izquierda h=altura v=anchura*/
  border-color: #fff transparent transparent transparent;
  border-style:solid;
  z-index: 10;

}
/* Menu navegacion */
#inicio{
  position:relative;
  width:100%;
}
.menu{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100px;
  background-color:#fff;
  /* como queremos que se coloquen las cajas */
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* que no se oculte el menu por insertar imagen */
 z-index: 9999; 
}
/* logo informatica y telecomunicaciones */
.menu .logo{
  /* espacio izquierda a derecha */
  margin-left: 20px;
}
.menu.logo h1 a{
text-decoration: none;
font-size:var(--title);
font-weight: 400;
color:var(--black);
}
.menu .lista-content{
  margin-right: 20px;
}
/* aplicamos colores y espacios a enlaces */
.menu .lista-content ul{
/* se pone en horizontal */
display:flex;
}
.menu .lista-content ul li{
  /* quitamos pelota enlace */
  list-style: none;
}
.menu .lista-content ul li a{
 text-decoration:none; 
 margin: 0px 10px;
 /* agrandar enlace */
 padding: 8px;
 /* cambiamos el color */
 color:var(--black);
 font-size: 16px;
 border-radius: 24px;
 transition: 0.3s;
 
}
.menu .lista-content ul li a:hover{
/* para que cuando pasemos el raton por encima cambie de color */
background-color:var(--colorCorp);
color:#fff;
}
/* para que se quede seleccionada la pag de donde te encuentras */
.menu .lista-content ul li a.activo{
  background-color:var(--colorCorp);
  color:#fff;  
}
/***********************************************************************************************HEADER***************************************************************************************************************************/

/* imagen header */
.images-header{
  /* recolocamos botones */
  position:relative;
  /* que nos ocupe toda la pantalla */
  width:100%;
  /* que coja altura total */
  height:100vh;
  /* COLOCAMOS LA IMAGEN */
  background:url(../assets/images/galeria/img4.jpg);
  /* HACEMOS QUE LA IMAGEN SE QUEDE FIJA */
  background-attachment: fixed;
  /* que se nos quede centrada */
  background-position: center;
/* efecto para que se desplace la imagen y el texto se quede fijo */
  background-size: cover;
}
.images-header .bienvenido{
  /* posicion y tamaño */
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  /* 100% altura pero del padre */
  height:100%;
  /* color semi transparente oscurece la foto*/
  background:rgba(0,0,0,0.6);
  /* para recolocar las cosas dentro */
  display:flex;
  /* justificar contenido al centro */
  justify-content: center;
  /* alinear al centro */
  align-items: center;
  /* alinear vertical */
  flex-direction: column;
}
.images-header .bienvenido h2{
  font-size: 50px;
 color:#fff;
 font-weight:200;
}
.images-header .bienvenido p{
 font-size: 20px;
 color:#fff;
 margin-top:20px;
}
.images-header .bienvenido > button{
  width: 170px;
  height:40px;
  /* color boton transparente */
  background-color: var(--colorCorp);
  border-radius:24px;
  color:#fff;
  border:none;
  margin-top:20px;
  /* cambiamos cursor de raton mano*/
    cursor:pointer;
    /* quitamos linea blanca que sale alrededor del raton */
    outline:none;
    /* para que cuando pinchemos se vea un pequeño efecto */
    transition: 0.5s;
/* PARA QUE SEA COMPATIBLE CON TODOS LOS NAVEGADORES */
    text-align:center;
    font-size:22px;
  }
  

.images-header .bienvenido > button:hover{
  /* para quando pases el raton por encima cambie de color */

  background-color: var(--bluelight);
}

/***********************************************************************************************INDEX***************************************************************************************************************************/

.nosotros{
  width: 100%;
  margin-top:120px;
}
.n-container{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nosotros{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nosotros1{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nosotros2{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nosotros3{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* tamaño fuente de etiqueta html */
.nosotros .n-container h2{ 
  font-size: 3rem;
  /* grosor */
  font-weight: 400;
  color:var(--black);
  text-align: center;
  margin-top:20px;
  margin-left:45px;
  font-family:arial black;
  color:black;
}
.nosotros1 .n-container h2{ 
  font-size: 3rem;
  /* grosor */
  font-weight: 400;
  color:black;
  text-align: center;
  margin-top:20px;
  margin-left:45px;
  font-family:arial black;
  color:black;
}
.nosotros2 .n-container h2{ 
  font-size: 3rem;
  /* grosor */
  font-weight: 400;
  color:var(--black);
  text-align: center;
  margin-top:20px;
  margin-left:45px;
  font-family:arial black;
  color:black;
}
.nosotros3 .n-container h2{ 
  font-size: 3rem;
  /* grosor */
  font-weight: 400;
  color:var(--black);
  text-align: center;
  margin-top:20px;
  margin-left:45px;
  font-family:arial black;
  color:black;
}
.nosotros .n-container p{
 text-align: center;
 font-size: 1rem;
 color:var(--black);
 /* interlineado */
 line-height: 35px;
 margin: 10px 0;
 font-family:arial black;
  color:black;

}
.nosotros1 .n-container p{
  text-align: center;
  font-size: 1rem;
  color:var(--black);
  /* interlineado */
  line-height: 35px;
  margin: 10px 0;
  font-family:arial black;
  color:black;
 }
 .nosotros2 .n-container p{
  text-align: center;
  font-size: 1rem;
  color:var(--black);
  /* interlineado */
  line-height: 35px;
  margin: 10px 0;
  font-family:arial black;
  color:black;
 }
 .nosotros3 .n-container p{
  text-align: center;
  font-size: 1rem;
  color:var(--black);
  /* interlineado */
  line-height: 35px;
  margin: 10px 0;
  font-family:arial black;
  color:black;
 }
.nosotros .n-container .n-galeria {
  width:100%;
  display:flex;
  justify-content: center;
  margin:50px 0;
  
}
.nosotros .n-container .n-galeria img{
  width: calc(30% - 10px);
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.nosotros .n-container .n-boton{
    width: 120px;
    height:40px;
    text-align: center;
    font-size: 1.2em;
    background-color:var(--colorCorp);
    color:#fff;
    border:none;
    outline: none;
    /* cuando la altura del boton es de cuarenta al border radius le damos la mitad */
    border-radius:20px;
    cursor: pointer;
    transition: 0.5s;
    /* centrar boton */
    margin: 10px auto;
}
.nosotros .n-container .n-boton:hover{
  background-color: var(--bluelight);
}
.one{
  font-family: arial black;
  font-style: oblique;
}
.two{
  font-family: arial black;
  font-style: oblique;
}
.three{
  font-family: arial black;
  font-style: oblique;
}
.four{
  font-family: arial black;
  font-style: oblique;
}
/***********************************************************************************************PRODUCTOS***************************************************************************************************************************/
.galeria{
  position: relative; 
  width:100%; 
  height: 100%; 
  background-image: url(../assets/images/galeria/nosotros.jpg); 
  background-position: center; 
  background-size: cover; 
 /* QUE OCUPE TODO EL ESPACIO*/
  background-attachment:fixed; 
 /* QUE SE SEPARE 100PX*/ 
  margin-top:100px; 
  /* efectos sesgado imagen*/
  
 
}card
.card-body .card-text{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-left: -50px;
  margin-top: 20px;
  text-decoration:#000000;
  font-size: 20px;
  

}
.card-text{
  font-family: arial black;
}
.card .shadow-sm .bd-placeholder-img .card-img-top{
  height:100px;
  width:150px;
}

.galeria .degr-back{
   /* para añadir position absolute al hijo de galeria tenemos que poner en galeria relative por que si no el hijo se referencia respecto a body
   tambien es usado para que te deje posicionar los elementos */
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* hacer oscura y semitransparente la imagem */
   background: rgba(0,0,0,0.8);
}
.galeria .ejez{
position: relative;
width: 100%;
height: 100%;

}
.galeria .p-container{
width: 90%;
margin:auto; 
padding-top: 200px; 
height:180px;

}
.galeria .p-container .p-title{
 left:500px;
 position:absolute;
 border: 2px solid #fff;
 padding: 20px;
 text-align: center;
 width: 25%;
 margin:auto;
 top:80px
}
.galeria .p-container .p-title h2{
position:absolute;
font-size: 2rem;
color:#fff;
top:0px;
}
/* estilo al subrayado (hr) */
.galeria .p-container .p-title hr{
position: absolute;
background-color: #fff;
width: 85%;
margin: 10px auto;
top:20px;
}
.galeria .p-container {
width: 100%;
flex-direction: row;
justify-content: center;
/* para que cuando se agote espacio horizontal corte y pase al siguiente escalon dejado espacio */
flex-wrap: wrap;
margin-top: 80px;
padding-bottom: 100px; 
}
/* tamaños imagenes */
.ejez .p-container .image{
 margin: 10px;
 border-radius: 10px;
 cursor: pointer;
 object-fit: cover;
 width: calc(15% - 0px);
 max-width: 20px;
 max-height: 20px;

}
.galeria .p-container .p-galeria{
  width: 100%;
  display: flex;
  justify-content: center;
  /* para que cuando se agote espacio horizontal corte y pase al siguiente escalon dejado espacio */
  flex-wrap: wrap;
  margin-top: 80px;
  padding-bottom: 100px;
}
/* tamaños imagenes */
.galeria .p-container .p-galeria img{
    width: calc(30% - 10px);
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.col1 .shadow-sm{
  margin-left: 20px;
  height:450px;
  width:450px;
}
.col2 .shadow-sm{
  position: absolute;
  top: 880px;
  margin-left: 500px;
  padding-top: -100px;
  height:450px;
  width:450px;
}
.col3 .shadow-sm{
  position: absolute;
  top: 880px;
  margin-left: 980px;
  height:600px;
  width:600px;
}
.col4 .shadow-sm{
  margin-left: 20px;
  height:450px;
  width:450px;
}
.col5 .shadow-sm{
  position: absolute;
  top: 1340px;
  margin-left: 500px;
  height:450px;
  width:450px;
}

.col6 .shadow-sm{
  position: absolute;
  top: 1340px;
  margin-left: 980px;
  height:450px;
  width:450px;
}
.col7 .shadow-sm{
  margin-left: 20px;
  height:450px;
  width:450px;
}
.col8 .shadow-sm{
  position: absolute;
  top: 1780px;
  margin-left: 500px;
  height:450px;
  width:450px;
}
.col9 .shadow-sm{
  position: absolute;
  top: 1780px;
  margin-left: 980px;
  height:450px;
  width:450px;
}


  .bd-placeholder-img1{         
    
    max-width: 350px;
    max-height: 350px;
    cursor: pointer;
    object-fit: cover;
  
}

.bd-placeholder-img2{

  max-width: 350px;
  max-height: 350px;
  cursor: pointer;
  object-fit: cover;

}

.bd-placeholder-img3{         
  left: 0px;
  max-width: 350px;
  max-height: 350px;
  cursor: pointer;
  object-fit: cover;

}

.bd-placeholder-img4{         
  margin-left: 10;
  bottom: 500px;
  max-width: 390px;
  max-height: 350px;
  cursor: pointer;
  object-fit: cover;

}

.bd-placeholder-img5{         

  max-width: 390px;
  max-height: 350px;
  cursor: pointer;
  object-fit: cover;

}

.bd-placeholder-img6{         

  max-width: 390px;
  max-height: 350px;
  cursor: pointer;
  object-fit: cover;

}

.bd-placeholder-img7{         

  max-width: 390px;
  max-height: 350px;
  cursor: pointer;
  object-fit: cover;

}

.bd-placeholder-img8{         

  max-width: 390px;
  max-height: 350px;
  cursor: pointer;
  object-fit: cover;

}

.bd-placeholder-img9{         

  max-width: 390px;
  max-height: 350px;
  cursor: pointer;
  object-fit: cover;

}

/* posicion botones  */

.bottom1{
  margin-left: 30px;

}


 
/***********************************************************************************************CONTACTO1***************************************************************************************************************************/
/* contacta con nosotros*/
.contacto h3{
  display: flex;
  text-decoration: underline;
  position: relative;
  margin-left: 650px;
  justify-content: center;
  font-size:25px;
  color:black;
  bottom: 350px;
}



html, body{
  height:100%;
}

.container{/* el container es el elemento padre y tiene dos hijos*/

  height:131%;
  display:flex;/*esto es para poner un elemento al lado del otro
  si queremos poner uno encima del otro ponemos colum y ya estaria
  despues le indicamos a los hijos el porcentaje que queremos que ocupen*/
  
}
#map{
  flex:70%;/*indicamos que queremos que ocupe un 70 por ciento del espacio*/
  height:100%;

}
#indicaciones{
flex:30%;
height:70%;

}
.indicaciones{
  flex:30%;
  height:70%;
  
  }
/* direccion de versatil */
.contacto h4{
  display: flex;
  text-decoration: underline; 
  font-size:17px;
  color:black;
}

.imgage1{
  position:absolute;
  width: 50px;
  height: 40px;
}

/* telf */
.contacto1 .p1{
  display: flex;
  text-decoration: none;
  position: relative;
  margin-left: 250px;
  justify-content: center;
  font-size:17px;
  color:black;
  bottom: 330px;
}
/* horario */
.contacto2 .p2{
  display: flex;
  text-decoration: none;
  position: relative;
  margin-left: 700px;
  justify-content: center;
  font-size:17px;
  color:black;
  bottom: 367px;
}
/* dias apertura */
.contacto3 .p3{
  display: flex;
  text-decoration: none;
  position: relative;
  margin-left: 1150px;
  justify-content: center;
  font-size:17px;
  color:black;
  bottom: 406px;
}
/***********************************************************************************************PRESUPUESTO***************************************************************************************************************************/

.caja0{
	background-color:rgba(0,0,0,0.6);
	margin-bottom: 20px;
	padding: 20px 0px 0px 0px;
	width: auto;
	height: 70px;
}
.caja1{
	margin: 0 auto;
	padding: 0px;
	width: 650px;
	font-family: arial;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 0px solid #000000;
}
#logo{
	
	margin-left: 20px;
}
.textbox{
	border-radius: 1px 1px 1px 1px;
	-moz-border-radius: 1px 1px 1px 1px;
	-webkit-border-radius: 1px 1px 1px 1px;
	border: 0px solid #c0c5ce;
	background-color:rgba(0,0,0,0.2);
	height: 28px;
	color: #c0c5ce;
}
h1{
  text-decoration: underline;
  text-align: center;
}
input{
	padding-left: 60px;
  padding-top: 10px;
  border-color: #000000;
}

::placeholder{
  font-size: 17px;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
.check input{
  width:20px;
  height:15px;
  border-radius:10%;
  /* overflow:hidden;  */
  border-color: #000000;
}
input[type=text]:focus{
	box-shadow: 0 0 3px 1px rgba(81, 203, 238, 0.6);
}
.botones{
	margin: 0 auto;
	width: 260px;
  padding:1px;
}
.boton{
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	text-align:center;
	text-decoration: none;
	display:inline-block;
	color: #FFF;
  background: #7F8C8D;
	padding: 6px 30px;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 10px 2px;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.gris{
  background: #343d46;
	border: 0px solid #c0c5ce;
}

.gris:hover{
	background: #00aac9;
}
h2,h3{
	text-align: center;
	color: #fff;
}
/* todos los label del mismo tamaño */

label {
  display:inline-block;
  width: 220px;
  font-family: arial black;
  border-radius: 1px;
}
 .elegir{
 font-family:arial var(--black) ;
 font-style:unset;
 font-size: 16px;
 
}
  


/* color gris para el select y el input */

.colorgris {
   border: 1px solid #999a9c; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #8f96a2; /*color botón*/
  color: #0c0c0c; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  /*border-radius: 50px; bordes redondos */

}


.form-control input:focus {
  outline: 0;
  border-color: #777
}


.form-control.success input {
  border-color: #2ecc71;
  margin: 0;
  padding: 0;
}



.form-control.error input {
  border-color: #e74c3c;
  margin: 0;
  padding: 0;
}
.check label{
  position:relative;
  margin-left: 50px;
}
.container-s{
  background: #d6e3e3;
  height: 530px;
  margin: 0;
  padding: 0;
}
.privacidad1 input{
border-radius: 30%;
} 

privacidad1{
  position:relative;
  bottom:90px;
}
input .opcion_responsive{
  border-color:#000000;
}
/* esconder el mensaje */

small {
  color: #e74c3c;
  left: 0px;
  visibility: hidden;
}


/* visibilizar el mensaje */

.form-control.error small {
  visibility: visible;
}
fieldset .form-control{
  position: relative;

 
  padding: 0;
}
fieldset {
border-color: #000000;
border-bottom: 2px;
}
fieldset .datos{
 font-size: 20px;
 font-family: arial black;

}
legend{
  font-size: 20px;
  font-family: arial black;
 }


/***********************************************************************************************FOOTER***************************************************************************************************************************/
.footer{
  position: relative;
  height :60%;
  background-image: url(../assets/images/galeria/nosotros.jpg);
   background-attachment: fixed; 
   background-position: center; 
   background-size: cover; 
   width:100%;
 }
.containerd{
  position:relative;
  margin-top: 0px;

}

 /* capa tranparente */
 .footer .degr-formu1{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        background-color: rgba(0,0,0,0.6);
 }
 .footer .ejez{
      position: relative;
      width:100%;
      height:360px;
      padding: 0px;
      
   
}
.container9{

  display:column;
}

.footer .ejez .f-container .f-title{
      width: 50%;
      margin: auto;
      border: 2px solid #fff;
      padding: 15px;
}
.footer .ejez .f-container .f-title h2{
      font-size: 2rem;
      color: #fff;
      text-align: center;
      margin-bottom: 5px;
}
.footer .ejez .f-container .f-title hr{
      height:2px;
      background-color :#fff;
      width: 80%;
      margin: auto;
}


.footer .ejez .f-container .footer-text{
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  bottom: -310px;
  border-top: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .ejez .f-container .footer-text p{
  text-align:center;
  color:#fff;
  font-size: 20px;
  top: 0px;
}
.footer .mia .fakeimg1  {
  width:40px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;

}
.footer .mia .fakeimg2  {
  width:40px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  
}

 .footer .mia .fakeimg3  {
  width:40px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
} 
.footer .mia{
  position:absolute;
  top:250px;
  margin-bottom: 10px;
}

.footer .mio h5 a{
  position: absolute;
  margin-left: 1250px;
  justify-content: center;
  font-size:15px;
  color: black;
  bottom: 70px;
}
.footer .mio h6 a{
  position: absolute;
  margin-left: 1250px;
  justify-content: center;
  font-size:15px;
  color: black;
  bottom: 55px;
}
.footer .mio h6 a:hover{
  color: var(--bluelight);
}
.footer .mio h5 a:hover{
  color: var(--bluelight);

}


.enlace1{
  list-style: none;
  color:black;
  display:inline-flex;
  align-items: center;
  right: 1005px;
  top: 1050px;
  font-size: 0.9em;
  cursor: pointer;
}
.text1{
  list-style: none;
  display:inline-flex;
  flex-direction: row;
  top: 1050px;
  font-size:0.9em;
  cursor: pointer;
  margin-right: 20px;
} 

/**********************************************************************************************productos2***************************************************************************************************************************/

.enlaceN h1 a{
font-family: arial var(--black);
color: black;
}



.start-end {
display:flex;
justify-content: start;
} 
.start-end .header1  {
  flex: 30%;

}
.start-end .main1 .galeria0 .galeria1 {
  flex: 50%;
}

.start-end .footer1  {
flex:30%;
}


/***********************************************************************************************AVISO***************************************************************************************************************************/

.container1 P{
  list-style: none;
  display:inline-flex;
  flex-direction: row;
  top: 1050px;
  font-size:0.9em;
  cursor: pointer;
  margin-right: 20px;
}